.project {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .personal-projects-header {
    margin: 2rem;
  }

  .project h1 {
    margin-top: 2rem 1rem 1rem 1rem;
    color: #3e497a;
    font-size: 35px;
    margin: 2rem;
  }
  .project img {
    width: 700px;
    border-radius: 10px;
  }
  
  .project p {
    font-size: 40px;
    color: #3e497a;
  }
  
  .project svg {
    font-size: 60px;
    color: #3e497a;
  }
  .EnrolAutomation{
    width: 500px;
    height: 450px;
  }
  .TicTacToeGame{
    width: 500px;
    height: 450px;
  }